/*******************Selectors*******************************/
body {
  color: grey;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin-top: 0;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 5%;
  width: 3%;
}
a{
  text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
    font-size: 20PX;
}
/*******************Classes*******************************/
.code-img {
  float: right;
  margin-left: 30px;
}

.design-img {
  float: left;
  margin-right: 30px;
}

.footer-paragraph {
  color: white;
  font-size: 15px;
}

.footer-link {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #E4F9F4;
  padding-top: 100px;
}

.medium-container {
  margin: 100px 0;

}

.bottom-container {
  background-color: #66BFBF;
padding: 50px  0 20px;

}
.intro{
  width: 50%;
  margin:40px auto 60px;
  line-height: 2;
}
.pro {
  text-decoration: underline;
}

.down {
  position: absolute;
  left: 170px;
  top: 500px;
}

.up {
  position: absolute;
  right: 50px;
  top: 100px;
}


.btn {
	background-color:#57eba8;
	border-radius:9px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:16px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background-color:#3ae0bf;
}
.btn:active {
	position:relative;
	top:1px;
}
